@import "tailwindcss";

@theme {
  --color-stupig-50: #E0F3FE;
  --color-stupig-100: #C7E9FE;
  --color-stupig-200: #95D6FD;
  --color-stupig-300: #63C3FC;
  --color-stupig-400: #31AFFB;
  --color-stupig-500: #059BF4;
  --color-stupig-600: #047BC2;
  --color-stupig-700: #035B90;
  --color-stupig-800: #023C5E;
  --color-stupig-900: #011C2C;
  --color-stupig-950: #000000;
}

@layer base {
  * {
    @apply transition-all duration-500;
  }
  
  body {
    @apply m-0;
    -webkit-tap-highlight-color: transparent;
  }
  
  a {
    @apply text-stupig-600 dark:text-stupig-400 underline underline-offset-[0.3em] decoration-[0.1em] outline-none;
    @apply hover:text-stupig-700 dark:hover:text-stupig-300;
    -webkit-tap-highlight-color: transparent;
  }
  
  button, input, select, textarea {
    @apply outline-none;
    -webkit-tap-highlight-color: transparent;
  }
}
