:root {
  --color-theme: #047bc2;
  --color-theme-d: #015b90;
  --color-theme-s: #cca0c6;
  --color-border: #eee;
  --color-border-s: #f6f6f6;
  --color-border-ss: #ffffff;
  --color-text: #4d4d4d;
  --color-text-s: #656565;
}
* {
  transition-duration: .5s;
  color: var(--color-text);
}
body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}
a, button, input, select, textarea {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
a {
  color: var(--color-theme);
  text-decoration: underline;
  text-underline-offset: .3em;
  text-decoration-thickness: .1em;
}
a:focus, button:focus {
  outline: none;
}
a:hover {
  color: var(--color-theme-s);
}
